<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>8AD30423-97C7-4ABE-9F3A-483A0FA00573.playgroundpage</string>
		<string>F96B69CB-BC48-402D-95C2-783ACA7507B3.playgroundpage</string>
		<string>FFEDA7D4-652C-4E4A-8479-C44DC406E763.playgroundpage</string>
		<string>9430CA93-93E7-4C6E-8797-138556429627.playgroundpage</string>
		<string>1CA26126-5B4E-4F9E-B8AF-31B3CB1DCE87.playgroundpage</string>
		<string>8C21C649-8D7A-4FC4-BE18-C5911C32CF6F.playgroundpage</string>
		<string>90899C63-3741-4267-BE78-96BCA36CDD6F.playgroundpage</string>
		<string>45CDA7C8-B68D-43C5-B51A-EF3544113722.playgroundpage</string>
		<string>3DC1AB55-ADCB-421C-9389-757034027F20.playgroundpage</string>
		<string>51AFA68A-8D08-4B77-BD15-97B9055FA730.playgroundpage</string>
		<string>277BADB8-63DE-4AB8-9B6E-C5EE92D5C8C2.playgroundpage</string>
		<string>62433EAF-F9CF-4C2C-A82F-D6663CEE2036.playgroundpage</string>
		<string>5485B0A7-330D-4FCC-9B18-679E30452A16.playgroundpage</string>
	</array>
</dict>
</plist>
