<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/1CA26126-5B4E-4F9E-B8AF-31B3CB1DCE87.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/1CA26126-5B4E-4F9E-B8AF-31B3CB1DCE87.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/277BADB8-63DE-4AB8-9B6E-C5EE92D5C8C2.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/277BADB8-63DE-4AB8-9B6E-C5EE92D5C8C2.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/3DC1AB55-ADCB-421C-9389-757034027F20.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/3DC1AB55-ADCB-421C-9389-757034027F20.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/45CDA7C8-B68D-43C5-B51A-EF3544113722.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/45CDA7C8-B68D-43C5-B51A-EF3544113722.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/51AFA68A-8D08-4B77-BD15-97B9055FA730.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/51AFA68A-8D08-4B77-BD15-97B9055FA730.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/5485B0A7-330D-4FCC-9B18-679E30452A16.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/5485B0A7-330D-4FCC-9B18-679E30452A16.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/62433EAF-F9CF-4C2C-A82F-D6663CEE2036.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/62433EAF-F9CF-4C2C-A82F-D6663CEE2036.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/8AD30423-97C7-4ABE-9F3A-483A0FA00573.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/8AD30423-97C7-4ABE-9F3A-483A0FA00573.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/8C21C649-8D7A-4FC4-BE18-C5911C32CF6F.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/8C21C649-8D7A-4FC4-BE18-C5911C32CF6F.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/90899C63-3741-4267-BE78-96BCA36CDD6F.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/90899C63-3741-4267-BE78-96BCA36CDD6F.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/9430CA93-93E7-4C6E-8797-138556429627.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/9430CA93-93E7-4C6E-8797-138556429627.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/F96B69CB-BC48-402D-95C2-783ACA7507B3.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/F96B69CB-BC48-402D-95C2-783ACA7507B3.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/FFEDA7D4-652C-4E4A-8479-C44DC406E763.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/FFEDA7D4-652C-4E4A-8479-C44DC406E763.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/ArrayView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/BasicOperatorsView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/CollectionTypesView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/CommentView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/DictionaryView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/EndView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/InputVerifiers.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/LetView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/MainTypesView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/OperatorsView1.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/OperatorsView2.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/PreviewView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SetView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SoundPlayer.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/StartView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SuccessFailView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/TupleView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/TypeView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/VarView.swift</key>
		<string>Added</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
